
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://gitee.com/apanoo/freetype
[submodule "thirdparty/SDL2"]
	path = thirdparty/SDL2
	url = https://gitee.com/apanoo/SDL2
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://gitee.com/apanoo/glm
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://gitee.com/apanoo/imgui
