
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://github.com/apanoo/freetype.git
[submodule "thirdparty/SDL2"]
	path = thirdparty/SDL2
	url = https://github.com/apanoo/SDL2.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/apanoo/glm.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/apanoo/imgui
