.DS_Store
bin
lib
obj
thirdparty/build
*.o
bustm/bustm
.vscode/ipch
toolchains/android/.idea
toolchains/ios/ceditor.xcodeproj/project.xcworkspace/xcuserdata
toolchains/ios/ceditor.xcodeproj/xcuserdata
build/