.color {
  margin: 0;
  padding: 0 15px;
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .val {
    width: 30px;
    height: 13px;
    background-color: green;
  }
}
